/* dm-sans-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/dm-sans-v17-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/dm-sans-v17-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/dm-sans-v17-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-600italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../assets/fonts/dm-sans-v17-latin-600italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/dm-sans-v17-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bricolage-grotesque-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/bricolage-grotesque-v9-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bricolage-grotesque-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/bricolage-grotesque-v9-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --c-neutral-900: hsl(243, 96%, 9%);
    --c-neutral-800: hsl(243, 27%, 20%);
    --c-neutral-700: hsl(243, 23%, 24%);
    --c-neutral-600: hsl(243, 23%, 30%);
    --c-neutral-300: hsl(240, 6%, 70%);
    --c-neutral-200: hsl(250, 6%, 84%);
    --c-neutral-0: hsl(0, 0%, 100%);
    --c-orange-500: hsl(28, 100%, 52%);
    --c-blue-500: hsl(233, 67%, 56%);
    --c-blue-700: hsl(248, 70%, 36%);

    --color-main-bg: var(--c-neutral-900);
    --color-text-light: var(--c-neutral-0);
    --color-text-med-light: var(--c-neutral-200);
    --color-panel-bg-dark: var(--c-neutral-800);
    --color-panel-bg-dark-hover: var(--c-neutral-700);
    --color-panel-bg-med: var(--c-neutral-700);
    --color-panel-bg-light: var(--c-neutral-600);
    --color-panel-border: var(--c-neutral-600);
    --color-button-bg: var(--c-blue-500);
    --color-button-bg-hover: var(--c-blue-700)
}

img {
    max-width: 100%;
}

body {
    font-family: "DM Sans", Arial, Helvetica, sans-serif !important;
    font-weight: 500;
    font-size: 18px !important;
    background-color: var(--color-main-bg);

}

h1,
h2,
h3 {
    font-family: "Bricolage Grotesque", Arial, Helvetica, sans-serif !important;
}

.dropdown-toggle {
    background-color: var(--color-panel-bg-dark);
    color: var(--color-text-light);
    border-radius: 0.4rem;
    font-size: 0.8rem;
}

.dropdown-toggle::after {
    border: 0;
    font-size: 0.8rem;
}

.dropdown-toggle:hover {
    color: var(--color-text-light);
}

.dropdown-menu[data-bs-popper] {
    left: -70%;
}

.dropdown-menu {
    background-color: var(--color-panel-bg-dark);
    border-radius: 0.5rem;
}

.dropdown-item {
    color: var(--color-text-light);

    &:hover {
        background-color: var(--color-panel-bg-dark-hover);
        color: var(--color-text-light);

    }
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
    font-size: 0.9rem;
}

input {
    background-color: var(--color-panel-bg-dark);
    border: none;
    color: var(--color-text-light);
    border-radius: 0.5rem;
    height: 2.6rem;

    &::placeholder {
        color: var(--color-text-light);
    }

    &:focus {
        border: none;
        color: var(--color-text-light);
    }

}

.btn-srch {
    background-color: var(--color-button-bg);
    border: none;
    color: var(--color-text-light);
    border-radius: 0.5rem;

    &:hover {
        background-color: var(--color-button-bg-hover);
    }
}

.search-icon {
    left: 30px;
    z-index: 1;
    transform: translateY(50%);
}

.search-group-wrapper {
    max-width: 550px;
    margin: 0 auto;
}


.weather-report-box {
    width: 1000px;
    margin: 0 auto;
}


.current-weather-card {
    background-color: var(--color-panel-bg-dark);
    border-radius: 1rem;
}

.current-weather-card .title {
    color: var(--color-text-med-light);
}

.current-weather-card .readings {
    color: var(--color-text-light);
}

.panel-dark {
    background-color: var(--color-panel-bg-dark);
    border-radius: 0.5rem;
}


.right-panel-title {
    color: var(--color-text-light);
}

.dropdown-toggle-hourly {
    background-color: var(--color-panel-bg-light) !important;
    border-radius: 0.25rem;
    padding: 0.3rem 0.6rem;
}

.hourly-card {
    color: var(--color-text-light);
    background-color: var(--color-panel-bg-med);
    border-radius: 0.5rem;
    height: 2.8rem;
}

.daily-card-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.daily-card {
    background-color: var(--color-panel-bg-light);
    border-radius: 0.5rem;
    color: var(--color-text-light);
}

.no-result-section, .Loading-section{
    display: none;
}

.no-result-section.active , .Loading-section.active{
    display: block;
}

.hour-icon {
    height: 2rem;
    width: auto;
}

@media (max-width:575px) {
    .weather-report-box {
        width: 380px;
        margin: 0 auto;
    }

    .daily-card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }
}

.weather-hero{
    color: var(--color-text-light);
}

/* .unit-temp.show{
    background-color: var(--color-panel-bg-light);
} */